.openService {
    width: 100%;
    background: url("../img/openService-bg.jpg") no-repeat center center;
}

.openService .col-xs-3 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 27%;
    cursor: pointer;
}

.openService .col-xs-3 p {
    cursor: pointer;
}

.openService .col-xs-offset-3 {
    margin-left: 22%;
}

.openService .col-xs-2 {
    position: relative;
    top: -10px;
    padding-right: 0;
    padding-left: 10px;
}

.oS-content img {
    max-width: 60px;
    max-height: 60px;
}

.oS-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.nopadding {
    padding: 0;
}

.chain img {
    height: 60px;
    width: 60px;
    border: 2px solid #333;
    border-radius: 50%;
    padding: 12px;
}

.chain .chain-title {
    font-size: 16px;
}

.chain .chain-con {
    text-align: left;
    line-height: 200%;
}

.par-div {
    height: 550px;
    position: relative;
}

.par-div img {
    max-height: 90px;
    max-widht: 90px;
}

.par-div-con {
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40%;
    text-align: center;
}

.color-primary {
    color: #10a0e9;
    margin-left: 30px;
}


a {
    background-color: transparent;
    color: #333;
    text-decoration: none;
}

.savetable-div {
    width: 80%;
    top: 60%;
    margin-left: 10%;
}
.free-order {
    padding: 20px 0px;
    margin: 0px auto;
}
.free-order p {
    border-bottom: 1px solid #9a9a9a;
    padding: 5px 0px;
    color: #10a0e9;
    margin: 0px 20px;
    font-size: 14px;
}
.free-order-form {
    width: 80%;
    padding-top: 20px;
    margin: auto;
    margin-left: 45px;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.free-order-form .star {
    color: red;
    margin-right: 6px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
        font-size: 14px;
    }
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
label {
    cursor: default;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #eee;
    opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    cursor: not-allowed;
}
textarea.form-control {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: none;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 27px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 14.333333px;
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .form-horizontal .form-group-sm .control-label {
        padding-top: 6px;
        font-size: 12px;
    }
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    /* padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-block {
    width: 100%;
    display: block;
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-primary {
    color: #fff;
    background-color: #10a0e9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0d7fb9;
}